body
{
	background:rgba(250,220,120,0.3);
}
.nav-link:hover
{
	margin:auto;
	color:CYAN;
	background:rgba(230,211,230,0.5);
	background-size: 100%;
	text-shadow: 1px 1px 5px BLACK;
}
.nav-link
{
	font-size:20px;
}
.logo
{
	color:YELLOW;
}
.dropdown-item{
		color:WHITE;
}
.dropdown-item:hover
{
	background:yellow;
	color:BLACK;
}
.dropdown-menu
{
	background-color: BLACK;

}

