body
{
	background: red;
}
th
{
	width:3rem;
	height:2rem;
	font-size: 1rem;
	font-family: cursive;
	text-shadow: 1px 2px black;	
}
table
{
	background: gray;
	border-color:white;
}

.days
{
	background:orange;
	color:red;
}
.month
{
	color:White;
	font-family: monospace;
	border:0rem;
	text-align: left;
	font-size: 3rem;
}
.jan
{
	background:black;
	color:white;
}

.feb
{
	background: black;
	color: white;
}
.mar
{
	background: black;
	color:white;
}
.april
{
	background: black;
	color:white;
}
.may
{
	background: black;
	color:white;
}
.june
{
	background: black;
	color:white;
}
.july
{
	background: black;
	color:white;
}
.august
{
	background: black;
	color:white;
}
.september
{
	background: black;
	color:white;
}
.october
{
	background: black;
	color:white;
}
.november
{
	background: black;
	color:white;
}
.december
{
	background: black;
	color:white;
}
.button
{
	background:YELLOW;
	position: absolute;
	font-size:30px;
	border-radius:10px;
	border:transparent;
	margin-left:5%;
	margin-top:2%;
	animation: blinkingBackground 2s infinite;
}
.button{
        position: absolute;
        display: inline-block;
        letter-spacing: 4px;
        overflow: hidden;
        transition: 0.2s;
        text-decoration: none;
        padding-left: 20px;
        color:#FFFF;
        background: BLUE;
        padding-left: 15px;
        margin-left:5%;
        padding-right: 15px;
        text-align: center;
        font-size: 25px;
        border-radius: 13px;
        margin-top:3%;
        border:transparent;
        height:5%;
        font-family:monospace;
        position: absolute;
    }
  .button:hover{
        border-radius: 13px;
        box-shadow:0 0 5px BLUE, 0 0 20px BLUE, 0 0 20px BLUE;
        text-shadow: 0 0 5px YELLOW, 0 0 20px YELLOW, 0 0 20px YELLOW;
        font-size:27px;
        background:RED;
        transition:-0.5s;	
        
    }
    .button a
    {
    	text-decoration: none;
    }
